/.coveragerc
/.flake8
/.pylintrc
/.travis.yml
/AUTHORS.md
/LICENSE
/Makefile
/README.md
/README.rst
/setup.py

ReacherSoft_Case0-Keshav/SupervisedLearningFiles
ReacherSoft_Case1/
ReacherSoft_Case2/
ReacherSoft_Case3/
ReacherSoft_Case4/

assets/
docs/
examples/
tests/
venv/
