elastica/__pycache__/

ReacherSoft_Case0-Keshav/MuscleTorquesWithBspline/BsplineMuscleTorques/__pycache__/
ReacherSoft_Case0-Keshav/__pycache__/
ReacherSoft_Case0-Keshav/3d_best_320_gen/saved_cma_es.txt

ReacherSoft_Case1/
ReacherSoft_Case2/
ReacherSoft_Case3/
ReacherSoft_Case4/

venv/
bw_login_instructions.txt
